Pods/
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
.DS_Store
RecipeBox.xcodeproj/project.xcworkspace/xcuserdata/ghinzu.xcuserdatad/UserInterfaceState.xcuserstate
RecipeBox.xcodeproj/xcuserdata/ghinzu.xcuserdatad/xcschemes/xcschememanagement.plist
